[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.gradle/
ExportedObj/
.consulo/
.idea/
*.apk
*.aab
*.exe
*.app
*.so
*.dll
*.dylib
*.tmp
*.log
*.meta
*.db
*.pid
.DS_Store
